<div
  class="modal fade"
  id="selectPropertyDashboard"
  aria-hidden="true"
  aria-labelledby="selectPropertyDashboardLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="selectPropertyDashboardLabel">
          Select Property
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body py-5">
        <!-- start  -->
        <div class="list-group">
          {% for data in properties %}
          <a
            href="{% url 'property-viewings' data.id %}"
            class="list-group-item list-group-item-action d-flex gap-3 py-3"
            aria-current="true"
          >
            <img
              src="{{data.coverImage.url}}"
              alt="twbs"
              width="50"
              height="50"
              style="object-fit: cover"
              class="rounded-circle flex-shrink-0"
            />
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0">{{data.propertyName}}</h6>
                <p class="mb-0 opacity-75">
                  {{data.street}} Street, {{data.town}} , {{data.city}}
                </p>
              </div>
              <small class="text-nowrap">
                <button class="btn btn-style">select</button>
              </small>
            </div>
          </a>
          {% endfor %}
        </div>
        <!-- end  -->
      </div>
    </div>
  </div>
</div>
<!-- ======= End 1st Modal  ======= -->

<button
  class="btn btn-style"
  data-bs-target="#selectPropertyDashboard"
  data-bs-toggle="modal"
>
  <i class="bi bi-plus-circle-fill"></i> new
</button>
