<button
  class="btn secondary-btn rounded-pill"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#moveintenant{{data.id}}"
  aria-controls="moveintenant"
  style="width: 100%"
>
  move in
</button>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="moveintenant{{data.id}}"
  aria-labelledby="moveintenantLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="moveintenantLabel"></h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="tenant-hero p-3 mb-5">
      <center>
        <h6 class="text-white">{{data.first_name}} {{data.last_name}}</h6>
      </center>
    </div>

    <form method="POST">
      {% csrf_token %}
      <div class="mb-4">
        <label for="moveinDate" class="form-label">Move in date</label>
        <input
          type="date"
          class="form-control"
          id="moveinDate"
          aria-describedby="firstHelp"
          name="moveIn"
          placeholder="move in"
        />
      </div>
      <div class="mb-4">
        <label for="moveoutDate" class="form-label">Move out date</label>
        <input
          type="date"
          class="form-control"
          id="moveoutDate"
          aria-describedby="firstHelp"
          name="moveOut"
          placeholder="move out"
        />
      </div>
      <div class="mb-4">
        <label for="price" class="form-label">Price</label>
        <input
          type="text"
          class="form-control"
          id="price"
          aria-describedby="firstHelp"
          name="price"
          placeholder="R8 000"
        />
      </div>
      <div class="mb-4">
        <label for="agreement" class="form-label">Payment Agreement</label>
        <input
          type="text"
          class="form-control"
          id="agreement"
          aria-describedby="firstHelp"
          name="agreement"
          placeholder="7th day of the month"
        />
      </div>
      <input type="text" value="{{data.id}}" name="applicantID" hidden="true">
      <center>
        <button
          type="submit"
          name="add_tenant"
          class="btn btn-style mt-4"
          style="width: 50%"
        >
          + add tenant
        </button>
      </center>
    </form>
  </div>
</div>
