<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-style"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  + Managers
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Management</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="height: 300px">
        <form method="POST">
          {% csrf_token %}
          <!-- divider  -->
          {% for data in managers %}
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="{{data.id}}"
              id="flexCheckDefault"
              name="manager_id"
            />
            <label class="form-check-label" for="flexCheckDefault">
              {{data.first_name}} {{data.last_name}}
            </label>
          </div>
          <hr />
          {% endfor %}
          <center>
            <button
              type="submit"
              name="add_owner_manager"
              class="btn btn-style my-5"
              style="width: 70%"
            >
              Save Managers
            </button>
          </center>
        </form>
      </div>
    </div>
  </div>
</div>
