<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-style"
  data-bs-toggle="modal"
  data-bs-target="#ownerModal"
>
  + Owner
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="ownerModal"
  tabindex="-1"
  aria-labelledby="ownerModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ownerModalLabel">Owners</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="height: 300px">
        <form method="POST">
          {% csrf_token %}

          <div class="list-group mx-0">
            {% for data in ownersModal %}
            <label class="list-group-item d-flex gap-2">
              <div class="d-flex align-items-center">
                <input
                  class="form-check-input flex-shrink-0 checkbox-style"
                  type="checkbox"
                  value="{{data.id}}"
                  name="ownerID"
                />
              </div>
              <div class="d-flex justify-content-end">
                <img
                  src="{{data.profile_pic.url}}"
                  alt=""
                  class="secondary-manager-images"
                />
              </div>
              <span>
                {{data.first_name}} {{data.last_name}}
                <small class="d-block text-muted">{{data.owner_id}}</small>
              </span>
            </label>
            {% endfor %}
          </div>
          <button type="submit" name="add_owner" class="btn btn-style my-4">
            save managers
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
